.search-bar {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  border: 2px solid #f3ecec;
  border-radius: 10px;
  font-size: 16px;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  background: #ddd;
  cursor: pointer;
  font-size: 14px;
}

.filter-buttons button.active {
  background: #4b7cff;
  color: white;
}
.filter-buttons button:hover {
  background: #bbb;
}