.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  width: 450px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.close-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  background: red;
  padding: 6px 10px;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.close-btn:hover {
  background: darkred;
}